<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.file.fileupload.mapper.FileMapper">
  <resultMap id="BaseResultMap" type="com.file.fileupload.domain.File">
    <!--@mbg.generated-->
    <!--@Table `file`-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="suffix" jdbcType="VARCHAR" property="suffix" />
    <result column="size" jdbcType="INTEGER" property="size" />
    <result column="created_at" jdbcType="BIGINT" property="createdAt" />
    <result column="updated_at" jdbcType="BIGINT" property="updatedAt" />
    <result column="shard_index" jdbcType="INTEGER" property="shardIndex" />
    <result column="shard_size" jdbcType="INTEGER" property="shardSize" />
    <result column="shard_total" jdbcType="INTEGER" property="shardTotal" />
    <result column="file_key" jdbcType="VARCHAR" property="fileKey" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `path`, `name`, suffix, `size`, created_at, updated_at, shard_index, shard_size, 
    shard_total, file_key
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from `file`
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from `file`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.file.fileupload.domain.File" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `file` (`path`, `name`, suffix, 
      `size`, created_at, updated_at, 
      shard_index, shard_size, shard_total, 
      file_key)
    values (#{path,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{suffix,jdbcType=VARCHAR}, 
      #{size,jdbcType=INTEGER}, #{createdAt,jdbcType=BIGINT}, #{updatedAt,jdbcType=BIGINT}, 
      #{shardIndex,jdbcType=INTEGER}, #{shardSize,jdbcType=INTEGER}, #{shardTotal,jdbcType=INTEGER}, 
      #{fileKey,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.file.fileupload.domain.File" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `file`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="path != null">
        `path`,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="suffix != null">
        suffix,
      </if>
      <if test="size != null">
        `size`,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="shardIndex != null">
        shard_index,
      </if>
      <if test="shardSize != null">
        shard_size,
      </if>
      <if test="shardTotal != null">
        shard_total,
      </if>
      <if test="fileKey != null">
        file_key,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="suffix != null">
        #{suffix,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=BIGINT},
      </if>
      <if test="shardIndex != null">
        #{shardIndex,jdbcType=INTEGER},
      </if>
      <if test="shardSize != null">
        #{shardSize,jdbcType=INTEGER},
      </if>
      <if test="shardTotal != null">
        #{shardTotal,jdbcType=INTEGER},
      </if>
      <if test="fileKey != null">
        #{fileKey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.file.fileupload.domain.File">
    <!--@mbg.generated-->
    update `file`
    <set>
      <if test="path != null">
        `path` = #{path,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="suffix != null">
        suffix = #{suffix,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        `size` = #{size,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=BIGINT},
      </if>
      <if test="shardIndex != null">
        shard_index = #{shardIndex,jdbcType=INTEGER},
      </if>
      <if test="shardSize != null">
        shard_size = #{shardSize,jdbcType=INTEGER},
      </if>
      <if test="shardTotal != null">
        shard_total = #{shardTotal,jdbcType=INTEGER},
      </if>
      <if test="fileKey != null">
        file_key = #{fileKey,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.file.fileupload.domain.File">
    <!--@mbg.generated-->
    update `file`
    set `path` = #{path,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      suffix = #{suffix,jdbcType=VARCHAR},
      `size` = #{size,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=BIGINT},
      updated_at = #{updatedAt,jdbcType=BIGINT},
      shard_index = #{shardIndex,jdbcType=INTEGER},
      shard_size = #{shardSize,jdbcType=INTEGER},
      shard_total = #{shardTotal,jdbcType=INTEGER},
      file_key = #{fileKey,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectList" resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List" />
  from `file` where   file_key =#{fileKey}
</select>
  <update id="updateByFileKey">
    update `file`
    set `path` = #{path,jdbcType=VARCHAR},
    `name` = #{name,jdbcType=VARCHAR},
    suffix = #{suffix,jdbcType=VARCHAR},
    `size` = #{size,jdbcType=INTEGER},
    created_at = #{createdAt,jdbcType=BIGINT},
    updated_at = #{updatedAt,jdbcType=BIGINT},
    shard_index = #{shardIndex,jdbcType=INTEGER},
    shard_size = #{shardSize,jdbcType=INTEGER},
    shard_total = #{shardTotal,jdbcType=INTEGER}

    where file_key = #{fileKey,jdbcType=VARCHAR}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from `file`
  </select>
</mapper>